body{
    display:flex ;
    justify-content: center;
    align-items: center;
}
#registerForm{
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 218, 211);
    gap:1rem;
    border-radius:1rem;
    width: 100%;
    max-width: 400px
    ;
}
#loginForm{
    display:flex;
    flex-direction: column;
    background-color: #a891dd;
    gap: 1rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 400px
    ;
}
#forgetForm{
display: flex;
flex-direction: column;
background-color: hwb(18 23% 8% / 0.859);
gap: 1rem;
border-radius: 1rem ;
width: 100% ;
max-width: 400px;
}
#welcomeForm{
    display: flex;
    flex-direction: column;
    background-color: lab(90.62% -28.18 79.94 / 0.833);
    gap: 1rem;
    width: 100%;
    max-width: 400px;
}
