body{
    display:flex ;
    justify-content: center;
    align-items: center;
}
#registerForm{
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 210, 72);
    gap:1rem;
    border-radius:1rem;
    width: 100%;
    max-width: 400px
    ;
}
#loginForm{
    display:flex;
    flex-direction: column;
    background-color: #0000ff;
    gap: 1rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 400px
    ;
}
#forgetForm{
display: flex;
flex-direction: column;
background-color: rgba(195, 19, 19, 0.859);
gap: 1rem;
border-radius: 1rem ;
width: 100% ;
max-width: 400px;
}
#welcomeForm{
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 42, 162);
    gap: 1rem;
    width: 100%;
    max-width: 400px;
}
